/data/cache/*
!/data/cache/.gitkeep
/data/config/*
!/data/config/.gitkeep
/data/download/temp/*
!/data/download/temp/.gitkeep
/data/downloads/backup/*
!/data/downloads/backup/.gitkeep
/data/downloads/module/*
!/data/downloads/module/.gitkeep
/data/downloads/tmp/*
!/data/downloads/tmp/.gitkeep
/data/logs/*
!/data/logs/.gitkeep
/data/Smarty/config/*
!/data/Smarty/config/.gitkeep
/data/Smarty/templates_c/*
!/data/Smarty/templates_c/.gitkeep
!/html
/html/install/temp/*
!/html/install/temp/.gitkeep
/html/plugin/*
/html/upload/*
!/html/upload/.gitkeep
/html/upload/graph_image/*
!/html/upload/graph_image/.gitkeep
/html/upload/mobile_image/*
!/html/upload/mobile_image/.gitkeep
/html/upload/save_image/*
!/html/upload/save_image/.gitkeep
/html/upload/temp_image/*
!/html/upload/temp_image/.gitkeep
/html/upload/temp_plugin/*
!/html/upload/temp_plugin/.gitkeep
/html/upload/temp_template/*
!/html/upload/temp_template/.gitkeep
/html/user_data/include/preview/*
!/html/user_data/include/preview/.gitkeep
/html/user_data/templates/preview/*
!/html/user_data/templates/preview/.gitkeep
!/html/template/admin
!/html/template/default
!/html/template/install
